/*
	Main layout CSS
*/

.main-panel {
	list-style-type: none;
	padding-left: 0px;
	position: relative;
}
#user-panel {
	display: flex;
	position: absolute;
	width: 100%;
	height: 5%;
	border: 2px solid;
}
#main-content-panel {
	display: flex;
	margin-top: 3%;
	position: absolute;
	height: 97%;
	width: 100%;
	border: 2px solid;
}
#top-panel {
	display: flex;
	height: 15%;
	border: 2px solid;
	padding: 0px 10px;
}
#app-switcher-panel {
	padding: 0px 10px;
	display: inline-block;
	width: 15%;
	height: 100%; /* Need to re-visit this, if set to 100%, over flows*/
	margin-top: 2px;
	border: 2px solid;
	padding: 0px 10px;
}
#workspace-panel {
	padding: 0px 10px;
	display: inline-block;
	position: absolute;
	margin: 2px 0 0 2px;
	width: 84%;
	height: 100%;
	border: 2px solid;
	padding: 0px 10px;
}
/*Main nav items*/
.main-nav-items {
	position: absolute;
	right: 0px;
	padding-right: 100px;
	padding-top: 24px;
}
.main-nav-items li {
	list-style-type: none;
	display: inline-block;
	border: 2px solid;
	margin-left: 25px;
}



