<ul class="main-panel">
    <li id="user-panel" class="user-panel area">
      <form class="login-button-container">
          <input id="login-button" href="/login" value="Log in">
      </form>
    </li>
    <li id="left-panel" class="left-panel area">
        <h1> Side Menu </h1>
    </li>
    <li id="workspace-panel" class="workspace-panel area">
        Workspace Panel
    </li>

</ul>