<ul class="main-panel">

  	<li id="top-panel" class="top-panel area">
  		<h1>Top panel </h1> 
  	</li>
  	<li id="app-switcher-panel" class="app-switcher-panel"> 
  		<h1> App swticher panel </h1>
  	</li>
    
  	<li id="workspace-panel" class="workspace-panel area">
  		Workspace Panel
  	</li>
</ul>